services:
  app:
    build: ./docker/php
    container_name: laravel_app
    volumes:
      - ./src:/var/www
    env_file:
      - .env
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mongo:
    image: mongo:7
    container_name: laravel_mongo
    volumes:
      - mongo-data:/data/db
    networks:
      - laravel

networks:
  laravel:

volumes:
  mongo-data:
